<nav>
    <div class="sidetitle">
      <a href="/"><h1>Library Management System</h1></a>
      <p>Manager Panel</p>
    </div>
    <ul>
      <li><a href="/">Books</a></li>
      <li><a href="/books/create">New Book</a></li>
     
      <li><a href="/members">Members</a></li>
      <li><a href="/members/add">New Member</a></li>
      
    </ul>
  </nav>